# Data Science Tools and Eco System

In this notebook,Data Science tools and Eco System are summarized

  Some of the popular languages that Data Scientist use are :
  1. Python
  2. R Language
  3. SQL
  4. JAVA

Some of the commonly used libraries used by Data Scientists include :
1. Scientific Computing Libraries in Python
2. Visualization Libraries in Python
3. High Level Machine Learning and Deep Learning

| Data Science Tools |
|--------------------|
|     RStudio        |
|    Tensor Flow     |
|   Apache Spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335

**Objectives :**

* List of Data Science Tools.
* List of popular languages for Data Science.
* List of Libraries for Data Science.

## Author
Manali Dolare